@*
    TODO: See if there's a way to get that spinner to display before all the posts load.
*@
@{
    ViewData["Title"] = "All Stories";
}
@model List<ForumPost>
<br />
<section class="text-center">
    <h1>@ViewData["Title"]:</h1>
</section>
<hr />
<article class="text-center">
    <a class="btn btn-outline-light mb-3" asp-area="" asp-controller="Forum" asp-action="ForumPostForm">Create a forum post</a>
</article>
<div class="container col col-md-6">
    <form method="post" class="">
        <select class="form-select" name="filter">
            <option hidden>Filter by:</option>
            <option value="Date">Date</option>
            <option value="Name">Name</option>
        </select>
        <select class="form-select" name="results">
            <option hidden>Results:</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="-1">All</option>
        </select>
        <button class="btn btn-outline-light" type="submit">Filter</button>
    </form>
</div>
<article class="container-fluid mt-3">
    @if (Model.Count != 0)
    {
        foreach (ForumPost forumPost in Model)
        {
            <div class="mt-md-3 text-center row d-flex justify-content-center">
                <div class="bg-dark-subtle col col-md-8 mb-3"><!--Forum post should only stretch to full width on smaller screens.-->
                    <h3>@forumPost.Title</h3>
                    <p>@forumPost.Description</p>
                    <p>Year this story took place: @forumPost.Year</p>
                    <hr />
                    <p>@forumPost.Story</p>
                    <hr />
                    <p class="text-start float-start">Author: @forumPost.User.Name &nbsp;</p>
                    <p class="text-sm-start text-start float-start float-sm-end">Posted on: @forumPost.Date.Date.ToShortDateString()</p><!--Text should float to left and right sides except on small screens.-->
                </div>
            </div>
        }
    }
    else
    {
        <div class="mt-md-3 text-center row d-flex justify-content-center">
            <p class="text-danger">There are no forum posts.</p>
        </div>
    }
    <!--div class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div-->
</article>
